linkedin_workflow_with_approval.SANITIZED.json
{
  "name": "LinkedIn Workflow with Approval (Sanitized)",
  "nodes": [
    {
      "parameters": {
        "functionCode": "// Caption Style Selector — customize me\nconst topic = $node[\"Split Topics1\"].json.topic || \"\";\n\nconst styles = [\n  `Write a LinkedIn post for <YOUR_COMPANY> about \"${topic}\". Audience: EU legal, compliance, policy. \n   Goal: explain why it matters now; highlight Member‑State divergences; add one concrete takeaway. \n   Close with one question. No emojis. Include 3–5 relevant hashtags (plain text).`,\n  `Write a LinkedIn post for <YOUR_COMPANY> about \"${topic}\" for in‑house legal/compliance.\n   Sections: what changed, who’s impacted, what to check next (3 bullets).\n   Soft CTA: follow <YOUR_COMPANY> for transposition tracking updates. No emojis. 3–5 hashtags.`,\n  `Write a LinkedIn post for <YOUR_COMPANY> about \"${topic}\" that bridges EU text to Member‑State transposition.\n   Call out one surprising divergence and a practical implication. End with: \"We map divergences so you don’t miss them.\" \n   No emojis. 3–5 hashtags.`\n];\n\nreturn [{ json: { stylePrompt: styles[Math.floor(Math.random()*styles.length)] } }];\n"
      },
      "id": "7b364226-2963-42fc-b812-ede060ccc60b",
      "name": "Caption Style Selector",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1008,
        656
      ]
    },
    {
      "parameters": {
        "functionCode": "// === Config ===\nconst TOTAL_CAP = 200;     // max lines downstream\nconst PB_QUOTA  = 60;      // aim to include up to this many PB lines\nconst DAYS_SOFT = 14;      // \"soft\" recency boost window (no hard drop)\n\n// === Helpers ===\nconst today = new Date();\nconst msPerDay = 1000 * 60 * 60 * 24;\n\nconst parseDate = (j) => {\n  const raw =\n    j.isoDate || j.pubDate || j.date || j.published || j.createdAt ||\n    j.updatedAt || j.datetime || j.time || j[\"dc:date\"];\n  if (!raw) return null;\n  const d = new Date(raw);\n  return isNaN(d) ? null : d;\n};\n\nconst isPB = (j) => {\n  const src = String(j.source || \"\").toLowerCase();\n  const linkish = String(j.link || j.postUrl || \"\").toLowerCase();\n  return src.includes(\"phantom\") || linkish.includes(\"linkedin.com/feed/update\");\n};\n\n// Wider net for titles/snippets (keeps prior behavior that worked for you)\nconst line = (j) => {\n  const title =\n    j.title || j.headline || j.name || j.pageName || j.author || \"\";\n  const snippet =\n    j.contentSnippet || j.summary || j.description ||\n    j.content || j.postContent || j.snippet || \"\";\n  const s = `- ${String(title)}: ${String(snippet)}`.replace(/\\s+/g, \" \").trim();\n  // if truly nothing, return empty so we can filter it out\n  return s === \"- :\" ? \"\" : s;\n};\n\n// Soft-recency score: lower is better. Undated items get a large score but are kept.\nconst recencyScore = (d) => {\n  if (!d) return 9999; // undated => lowest priority, but not dropped\n  const days = (today - d) / msPerDay;\n  if (days < 0) return 5000; // future / bad clock => de-prioritize\n  return days;               // smaller = more recent\n};\n\n// === Collect ===\nconst allItems = $input.all().map(i => i.json || {});\nconst totalIn = allItems.length;\n\n// Precompute fields\nconst prepared = allItems.map(j => {\n  const d = parseDate(j);\n  return {\n    j,\n    d,\n    s: line(j),\n    isPB: isPB(j),\n    score: recencyScore(d),\n  };\n}).filter(x => x.s); // keep only items that render to a non-empty line\n\n// Sort by (1) PB first, (2) recency, (3) tie-breaker by title length (shorter first)\nprepared.sort((a, b) => {\n  if (a.isPB !== b.isPB) return a.isPB ? -1 : 1;\n  if (a.score !== b.score) return a.score - b.score;\n  return a.s.length - b.s.length;\n});\n\n// Enforce mix: take up to PB_QUOTA PB first (already sorted by recency inside each group),\n// then fill with the rest up to TOTAL_CAP\nconst pbOnly  = prepared.filter(x => x.isPB);\nconst rssOnly = prepared.filter(x => !x.isPB);\n\nconst selected = [\n  ...pbOnly.slice(0, PB_QUOTA),\n  ...rssOnly.slice(0, Math.max(0, TOTAL_CAP - Math.min(pbOnly.length, PB_QUOTA))),\n];\n\n// Deduplicate by normalized line\nconst seen = new Set();\nconst deduped = [];\nfor (const x of selected) {\n  const key = x.s.toLowerCase();\n  if (seen.has(key)) continue;\n  seen.add(key);\n  deduped.push(x.s);\n}\n\n// Counts\nconst counts = {\n  total_in: totalIn,\n  renderable_in: prepared.length,\n  pb_in: pbOnly.length,\n  rss_in: rssOnly.length,\n  used: deduped.length,\n  pb_used: Math.min(pbOnly.length, PB_QUOTA),\n  total_cap: TOTAL_CAP,\n  pb_quota: PB_QUOTA,\n  soft_recency_days: DAYS_SOFT, // informational only\n};\n\nreturn [{\n  json: {\n    articles_and_posts: deduped.join(\"\\n\"),\n    counts\n  }\n}];"
      },
      "id": "bc139f9f-24d6-42aa-a4f6-5598ae59a781",
      "name": "Format for GPT1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        272,
        656
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": "={{ !$json[\"continue\"] }}"
        }
      },
      "name": "Split Topics1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        816,
        656
      ],
      "id": "e4c103a6-a751-4d1f-a4a5-59fc7325a172"
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "requestMethod": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ {\n  \"model\": \"gpt-4\",\n  \"temperature\": 0.8,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": $json.stylePrompt\n    }\n  ]\n} }}"
      },
      "name": "Generate Caption1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1232,
        656
      ],
      "id": "7618e3de-f7cc-4974-897d-ee2eac5f9402"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "__MAKE_WEBHOOK_URL__",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  topic: $json.topic || $node[\"Preview Pack\"].json.topic,\n  caption: $json.caption || $node[\"Preview Pack\"].json.caption,\n  image_url: $json.image_url || $node[\"Upload Image New\"].json.secure_url\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3232,
        640
      ],
      "id": "4ae03a4c-acab-458f-adaa-c025749f3d18",
      "name": "Sent to make webhook1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1632,
        560
      ],
      "id": "6f9a02af-f08c-4bb4-9852-ec469456495c",
      "name": "Merge1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba7b47fb-bd0e-4bdc-977f-7b77c8a5a766",
              "name": "continue",
              "value": "true",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3200,
        1072
      ],
      "id": "2833892a-035c-4d83-8bbe-f229834e503e",
      "name": "Loop control1"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "days"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3392,
        640
      ],
      "id": "2947d192-8556-49db-8b2e-21a687a2dc74",
      "name": "Wait5",
      "webhookId": "a7064cc3-4764-430c-95c5-4d8d16dc32de"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://us-central1-aiplatform.googleapis.com/v1/projects/__GOOGLE_PROJECT_ID__/locations/__GOOGLE_LOCATION__/publishers/google/models/__GOOGLE_IMAGEN_MODEL__:predict",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "instances",
              "value": "={{ [{ prompt: $json.prompt, size: '1024x1024' }] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1232,
        432
      ],
      "id": "6df069c6-36fa-407c-a020-b07106ae3c13",
      "name": "Generate image google",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Enhanced image prompt — industry‑neutral version\n// Customize to your sector. Edit the THEMES below with your own keywords & motifs.\n// Example:\n//   { name: \"travel\", keys: [\"destination\",\"journey\"], motifs: [\"sunrise over mountains (no text)\"] },\n//   { name: \"finance\", keys: [\"bank\",\"data\",\"market\"], motifs: [\"flow of data streams over skyline (no text)\"] },\n//   { name: \"wellness\", keys: [\"mind\",\"body\"], motifs: [\"calming geometric waves (no text)\"] }\n\nconst topic   = ($json.topic || $node[\"Split Topics1\"]?.json?.topic || \"\").trim();\nconst caption = ($json.caption || \"\").trim();\nconst seed    = $json.seed ?? 1234;\nconst today   = ($json.today || new Date().toISOString().slice(0,10));\n\nfunction h(s){ let x = 2166136261>>>0; for (let i=0;i<s.length;i++){ x^=s.charCodeAt(i); x=Math.imul(x,16777619);} return x>>>0; }\nconst salt = h(topic + \"|\" + caption + \"|\" + today + \"|\" + seed);\n\nconst src = (topic + \" \" + caption).toLowerCase();\nconst tokens = src.replace(/[^a-z0-9+\\/\\-\\s]/g,\" \").split(/\\s+/).filter(Boolean);\n\n// === THEMES to customize ===\nconst THEMES = [\n  { name: \"theme_1\", keys: [\"<keyword1>\",\"<keyword2>\"], motifs: [\"<describe one visual motif here>\"] },\n  { name: \"theme_2\", keys: [\"<keyword3>\"], motifs: [\"<describe another motif>\"] },\n  { name: \"theme_3\", keys: [], motifs: [\"abstract composition suitable for your industry (no text)\"] }\n];\n\nconst scored = THEMES.map(t => ({...t, score: t.keys.reduce((s,k)=> s + (tokens.some(w => w.includes(k)) ? 1 : 0), 0)}))\n                     .sort((a,b)=> b.score - a.score);\nconst theme = (scored[0].score>0 ? scored[0] : THEMES.find(t=>t.name===\"theme_3\"));\n\nconst motif = theme.motifs[salt % theme.motifs.length];\nconst compositions = [\"isometric diagram\",\"flat editorial poster\",\"blueprint wireframe\",\"constellation network view\"];\nconst textures     = [\"soft gradients and crisp edges\",\"matte surfaces with subtle grain\",\"glass-like translucency\"];\nconst palettes     = [\"cool greys + electric blue\",\"charcoal + teal\",\"deep navy + cyan\",\"slate + muted emerald\"];\nconst comp = compositions[(salt>>5)%compositions.length];\nconst tex  = textures[(salt>>7)%textures.length];\nconst palette = palettes[(salt>>11)%palettes.length];\n\nconst negatives = [\n  \"text, letters, numbers, labels\",\n  \"logos, watermarks, trademarks\",\n  \"people, faces, hands\",\n  \"UI screenshots, tables, spreadsheets\",\n  \"clutter, noisy artifacts, low quality, blur\"\n];\n\nconst controls = [\n  \"no text anywhere\",\n  \"clean vector-like shapes, minimal clutter\",\n  \"editorial, high-trust aesthetic\",\n  \"balanced whitespace\",\n  `seed=${seed}`\n];\n\nconst prompt =\n  `Create a professional, text-free conceptual illustration for: \"${topic}\". ` +\n  `Theme: ${theme.name}. Motif: ${motif}. ` +\n  `Composition: ${comp}. Surface: ${tex}. Palette: ${palette}. ` +\n  `Style: ${controls.join(\", \")}. Negative: ${negatives.join(\"; \")}.`;\n\nreturn [{ json: { prompt, debug: { theme: theme.name, composition: comp, palette } } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        432
      ],
      "id": "557d9837-69c7-4fab-a3bf-0a8a361d2c57",
      "name": "Enhanced image prompt"
    },
    {
      "parameters": {
        "jsCode": "// 1) Grab the raw JSON  \nconst raw = items[0].json;\n\n// 2) Heuristic: find the longest string value in the object  \nfunction findLongestString(obj) {\n  let longest = '';\n  function recurse(o) {\n    for (const key of Object.keys(o)) {\n      const val = o[key];\n      if (typeof val === 'string') {\n        if (val.length > longest.length) longest = val;\n      } else if (typeof val === 'object' && val !== null) {\n        recurse(val);\n      }\n    }\n  }\n  recurse(obj);\n  return longest;\n}\n\nconst b64 = findLongestString(raw);\n\nif (b64.length < 100) {\n  throw new Error('No long Base64 string found in payload');\n}\n\n// 3) Decode it  \nconst buffer = Buffer.from(b64, 'base64');\n\n// 4) Build a safe filename  \nconst topic = raw.topic || 'image';\nconst safeName = topic.replace(/\\W+/g, '_').slice(0, 50);\nconst fileName = `${safeName}.png`;\n\n// 5) Return with metadata  \nreturn [{\n  json: raw,\n  binary: {\n    image: {\n      data: buffer,\n      mimeType: 'image/png',\n      fileName,\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        432
      ],
      "id": "83a4858d-26c9-4fa9-8256-a078c8119bdd",
      "name": "decode64"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d1631f5f-ab14-46a9-b0b9-8dd4a2c0c918",
              "name": "topic",
              "value": "={{ $node[\"Split Topics1\"].json.topic }}\n",
              "type": "string"
            },
            {
              "id": "74908b91-b1f0-471b-9c89-d20860978edb",
              "name": "caption",
              "value": "={{ $json[\"choices\"][0][\"message\"][\"content\"] }}\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1808,
        560
      ],
      "id": "c2b61e2b-f075-4d45-ada4-fc00bb79a6d5",
      "name": "Preview Pack"
    },
    {
      "parameters": {
        "sendTo": "__YOUR_EMAIL__",
        "subject": "={{ `YOURBRAND Post Review: ${$json.topic || 'Untitled'}` }}",
        "message": "={{ `<h3>New LinkedIn Post Draft</h3><p><b>Topic:</b> ${$json.topic || ''}</p><p><b>Caption:</b><br>${($json.caption || $json.choices?.[0]?.message?.content || '').replace(/\\n/g,'<br>')}</p><p><a href=\"${($json['resume-url'] || $json.resume_url || $execution.resumeUrl)}?decision=approve&topic=${encodeURIComponent($json.topic || '')}\" style=\"background:#0a7;color:#fff;padding:8px 12px;text-decoration:none;border-radius:4px;\">Approve</a> <a href=\"${($json['resume-url'] || $json.resume_url || $execution.resumeUrl)}?decision=reject&topic=${encodeURIComponent($json.topic || '')}\" style=\"background:#b00;color:#fff;padding:8px 12px;text-decoration:none;border-radius:4px;margin-left:8px;\">Reject</a></p>` }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "image"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2448,
        448
      ],
      "id": "ffe27e9b-ab48-4285-bd8e-bda2855de3a9",
      "name": "Send a message",
      "webhookId": "399cfcf0-fbe3-42f9-974c-072c2ae550a2"
    },
    {
      "parameters": {
        "path": "reject-YOURBRAND",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        4800,
        -608
      ],
      "id": "f48aa655-1a92-4724-aef0-75b3cc25748e",
      "name": "Reject – YOURBRAND",
      "webhookId": "619afe3e-da85-4317-afaf-ef6dafe258fc",
      "disabled": true
    },
    {
      "parameters": {
        "path": "approve-YOURBRAND",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        4832,
        -768
      ],
      "id": "f5772cae-1a11-4efe-a31a-3f33c71b0542",
      "name": "Approve – YOURBRAND",
      "webhookId": "c8066b85-b8d5-47b5-a272-debff40556b9",
      "disabled": true
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2608,
        448
      ],
      "id": "f3653881-d760-4035-81a3-45736b9b463e",
      "name": "Wait for Decision",
      "webhookId": "baf2bba0-960e-439e-a2ce-4fe21fe7ab9e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ae9a5f52-1d72-47aa-a2a0-ec3edd5c31b2",
              "leftValue": "={{ $json.query.decision }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2768,
        464
      ],
      "id": "7daacbfc-0f70-4276-840b-f81e9b80a683",
      "name": "Check Decision"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bb1424f9-cc12-4154-ac44-5594ca4b0c7e",
              "name": "resume-url",
              "value": "={{ $execution.resumeUrl }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2032,
        560
      ],
      "id": "1d02c773-776c-4ed4-895d-9785707672fe",
      "name": "Add Resume URL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/JSON",
        "body": "={{\n(() => {\n  // Pull inputs\n  const signalsRaw = ($json.articles_and_posts || '').toString();\n  // If you also have a \"Today date1\" node connected as a second input,\n  // this line will read that date; otherwise it falls back to today.\n  const todayFromSecondInput = (() => {\n    try { return $items(1, 0).json.today; } catch (e) { return undefined; }\n  })();\n  const today = $json.today || todayFromSecondInput || new Date().toISOString().slice(0,10);\n\n  // Guard against oversized payloads (keeps request stable)\n  const signals = signalsRaw.length > 12000 ? signalsRaw.slice(0, 12000) : signalsRaw;\n\n  return JSON.stringify({\n    model: \"gpt-4o-mini\",\n    temperature: 0.4,\n    messages: [\n      {\n        role: \"system\",\n        content: [\n          \"You generate LinkedIn post TOPIC IDEAS for YOURBRAND, a European legal-intelligence platform mapping how EU laws are transposed and diverge across Member States.\",\n          \"Voice and tone:\",\n          \"- Professional, confident, and contemporary — analytical but not bureaucratic.\",\n          \"- Write with the clarity of a Financial Times columnist or EU policy analyst who understands technology.\",\n          \"- Show curiosity and movement; it should feel like informed momentum, not marketing hype.\",\n          \"- No emojis or exclamation points. Avoid fluff, but you can use an active, dynamic phrasing.\",\n          \"- Convey authority through insight, not through slogans.\",\n          \"\",\n          \"Audience: legal, compliance, regulatory, and policy professionals.\",\n          \"\",\n          \"Output strictly as JSON per the schema. Do not add prose outside the JSON.\"\n        ].join(\"\\n\")\n      },\n      {\n        role: \"user\",\n        content: [\n          `Date: ${today}`,\n          \"If available, consider these signals (may be empty):\",\n          signals || \"(none)\",\n          \"\",\n          \"Generate 3–4 timely, thoughtful LinkedIn TOPIC ideas that show how regulatory change intersects with business and technology.\",\n          \"Prioritise topics such as AI Act implementation, NIS2, DSA/DMA enforcement, CBAM, EHDS, ESG and taxonomy transitions.\",\n          \"Each topic should reveal a tension, opportunity, or challenge created by Member State divergence or policy acceleration.\",\n          \"\",\n          \"Return EXACTLY this JSON:\",\n          \"{\",\n          \"  \\\"items\\\": [\",\n          \"    {\",\n          \"      \\\"topic\\\": \\\"<concise headline, 10–14 words, neutral punctuation>\\\",\",\n          \"      \\\"rationale\\\": \\\"<1–2 sentences explaining why this matters now>\\\",\",\n          \"      \\\"key_points\\\": [\\\"<implication 1>\\\", \\\"<implication 2>\\\", \\\"<implication 3>\\\"]\",\n          \"    }\",\n          \"  ]\",\n          \"}\",\n          \"\",\n          \"Rules:\",\n          \"- Keep language precise and grounded in reality; avoid speculation.\",\n          \"- No emojis, no exclamation points.\",\n          \"- Use an active, contemporary rhythm (verbs > adjectives).\",\n          \"- Each string must be plain text, no markdown or hashtags.\"\n        ].join(\"\\n\")\n      }\n    ]\n  });\n})()\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        432,
        656
      ],
      "id": "39f4c993-8e9b-405f-af27-23401e2756aa",
      "name": "Fetch LinkedIn Topics1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// PassImageToGmail — per-item\nconst item = $input.item || {};\nconst json = item.json || {};\nconst bin  = item.binary || {};\n\n// Prefer a real image binary, but accept common keys\nconst keys = Object.keys(bin);\nconst score = (k) => {\n  const b = bin[k] || {};\n  const mt = String(b.mimeType || '').toLowerCase();\n  const fn = String(b.fileName || '');\n  if (mt.startsWith('image/')) return 3;\n  if (/\\.(png|jpe?g|webp|gif|bmp)$/i.test(fn)) return 2;\n  return 0;\n};\n\nlet picked = null;\nif (keys.length) picked = keys.sort((a, b) => score(b) - score(a))[0];\n\nif (!picked) {\n  // Fail loudly so you know a Set node dropped binary\n  return {\n    json: {\n      ...json,\n      _subject: json.subject || 'YOURBRAND preview',\n      _text: json.caption || json.caption_text || '—',\n      _html: json.caption_html || undefined,\n      _error: 'No image binary at PassImageToGmail. Turn ON \"Include other input fields\" in PreviewPack/AddResumeURL and verify Merge1 is Merge by position.'\n    }\n  };\n}\n\n// Normalize to \"image\" for Gmail\nconst outBinary = { image: bin[picked] };\nconst outJson = {\n  ...json,\n  _subject: json.subject || 'YOURBRAND preview',\n  _text: json.caption || json.caption_text || '—',\n  _html: json.caption_html || undefined\n};\n\nreturn { json: outJson, binary: outBinary };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        560
      ],
      "id": "93e820cf-3422-46d7-bd17-765c4e8461ce",
      "name": "PassImageToGmail"
    },
    {
      "parameters": {
        "jsCode": "// Accept the URL from multiple possible shapes returned by fetch-output\nlet text = $json?.output || $json?.body?.output || $json?.data?.output || '';\nif (Array.isArray(text)) text = text.join('\\n');\n\n// 1) Try the canonical \"JSON saved at ...\" line\nlet m =\n  text.match(/JSON saved at\\s+(https?:\\/\\/\\S+?result\\.json)\\b/i) ||\n  text.match(/Saved at\\s+(https?:\\/\\/\\S+?result\\.json)\\b/i);\n\n// 2) Fallback: any https URL ending with result.json\nif (!m) m = text.match(/(https?:\\/\\/[^\\s\"']*result\\.json)\\b/i);\n\n// 3) If still no match, try to catch the CSV line (for debugging/reference)\nlet mCsv = text.match(/CSV saved at\\s+(https?:\\/\\/\\S+?result\\.csv)\\b/i);\n\n// 4) Emit result or diagnostic\nif (!m) {\n  return [{\n    json: {\n      error: 'json_result_not_found',\n      hint: 'Extractor did not see a result.json link in PB output. Check the exact log text.',\n      hasCsv: Boolean(mCsv),\n      csvUrl: mCsv ? mCsv[1] : null,\n      preview: String(text).slice(0, 600),\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    resultJsonUrl: m[1]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        1424
      ],
      "id": "586fd28d-5e87-4d85-b153-0f221f7e1239",
      "name": "PB – Extract result.json URL"
    },
    {
      "parameters": {
        "url": "<PHANTOMBUSTER_URL>",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "__PHANTOMBUSTER_AGENT_ID__"
            },
            {
              "name": "format",
              "value": "json"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Phantombuster-Key-1",
              "value": "__PHANTOMBUSTER_API_KEY__"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -912,
        1424
      ],
      "id": "d5e56669-c836-4ea6-8087-3bc9dd642b6f",
      "name": "PB Fetch Output"
    },
    {
      "parameters": {
        "url": "={{ $json.resultJsonUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -464,
        1424
      ],
      "id": "4a56de3a-de8b-4def-b611-dec89ab12479",
      "name": "PB – Fetch result.json"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\n\n// helpers\nconst toIso = (v) => {\n  if (!v) return undefined;\n  // PB sometimes sends ISO strings already\n  const d = new Date(v);\n  return isNaN(d) ? undefined : d.toISOString();\n};\nconst pick = (o, keys) => {\n  for (const k of keys) {\n    const v = o?.[k];\n    if (v !== undefined && v !== null && v !== '') return v;\n  }\n  return undefined;\n};\nconst toStr = v => Array.isArray(v) ? v[0] : (v ?? '');\nconst snippet = (s, n = 280) => String(s || '').replace(/\\s+/g, ' ').trim().slice(0, n);\n\n// shape → array of raw posts\nlet raw = [];\nif (items.length > 1) raw = items;\nelse if (items.length === 1) {\n  let p = items[0];\n  if (typeof p === 'string') { try { p = JSON.parse(p); } catch {} }\n  if (Array.isArray(p)) raw = p;\n  else if (p && typeof p === 'object') {\n    raw = Array.isArray(p.data) ? p.data\n        : Array.isArray(p.results) ? p.results\n        : Array.isArray(p.items) ? p.items\n        : [p];\n  }\n}\nif (!raw.length) return [{ json: { error: 'no_items_from_phantombuster', sample: items[0] || null } }];\n\n// map to unified schema\nconst out = raw.map(r => {\n  const text = toStr(pick(r, ['postContent','text','postText','description','content','body'])) || '';\n  const link = toStr(pick(r, ['postUrl','url','link','shareUrl'])) || '';\n  const title = toStr(pick(r, ['title','postTitle','headline','author','pageName'])) || snippet(text, 80) || '(untitled)';\n  const image = pick(r, ['imgUrl','image','imageUrl']);\n  const type  = toStr(pick(r, ['type'])) || 'Unknown';\n\n  // derive date (prefer precise)\n  const dateRaw = pick(r, ['postTimestamp','timestamp','postDate','publishedAt','published_at','date','time']);\n  const isoDate = toIso(dateRaw) || null;\n\n  // guid fallback\n  const guid = toStr(pick(r, ['id','postId','guid','urn'])) || link || `${title}-${isoDate || ''}`;\n\n  return {\n    json: {\n      source: 'phantombuster',\n      title,\n      link,\n      pubDate: isoDate,\n      isoDate,\n      content: text,\n      contentSnippet: snippet(text),\n      guid,\n      image,\n      type,\n      author: toStr(pick(r, ['author'])),\n      likeCount: pick(r, ['likeCount']),\n      commentCount: pick(r, ['commentCount']),\n      repostCount: pick(r, ['repostCount']),\n      raw: r\n    }\n  };\n});\n\n// (optional) filter: only posts with image and within last 10 days\nconst now = Date.now();\nconst tenDaysMs = 10 * 24 * 60 * 60 * 1000;\nconst filtered = out.filter(i => {\n  const okImage = !!i.json.image;\n  const okDate  = i.json.isoDate ? (now - new Date(i.json.isoDate).getTime() < tenDaysMs) : true;\n  return okImage && okDate;\n});\n\n// (optional) dedupe by guid\nconst seen = new Set();\nconst deduped = filtered.filter(i => {\n  if (seen.has(i.json.guid)) return false;\n  seen.add(i.json.guid);\n  return true;\n});\n\nreturn deduped;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        1424
      ],
      "id": "32179009-b6a8-4ac6-9f89-14d4730d37ab",
      "name": "PB – Normalize to RSS"
    },
    {
      "parameters": {
        "url": "",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -912,
        -112
      ],
      "id": "5fa58fea-075c-46a2-9772-dde0caf79397",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "url": "",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -912,
        80
      ],
      "id": "5798d364-d041-4fea-ae1d-9e5daa7463eb",
      "name": "RSS Read1"
    },
    {
      "parameters": {
        "url": "",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -912,
        272
      ],
      "id": "73c0db80-0d83-4d93-92f5-657422aef947",
      "name": "RSS Read2"
    },
    {
      "parameters": {
        "url": "",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -912,
        464
      ],
      "id": "3c130d4d-6ed4-4abf-90a2-c246ba8824d1",
      "name": "RSS Read3"
    },
    {
      "parameters": {
        "url": "",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -912,
        656
      ],
      "id": "1143a95d-78c5-418f-83c1-6917d894f87c",
      "name": "RSS Read4"
    },
    {
      "parameters": {
        "url": "",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -912,
        848
      ],
      "id": "0e3c7c62-bfa6-41d7-a5f9-539809ca4338",
      "name": "RSS Read5"
    },
    {
      "parameters": {
        "url": "",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -912,
        1040
      ],
      "id": "980fb617-0854-4453-9628-a3bf6277c5ca",
      "name": "RSS Read6"
    },
    {
      "parameters": {
        "url": "",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -912,
        1232
      ],
      "id": "1772ca4f-87d3-4018-bbe6-1caab03e8015",
      "name": "RSS Read7"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -688,
        -16
      ],
      "id": "04b85164-9fae-4139-bb04-58e4e14b9d87",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -688,
        368
      ],
      "id": "684036b1-159b-4ed7-b3a8-bb1ea270033b",
      "name": "Merge2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -688,
        752
      ],
      "id": "abd095f9-5ca0-4932-85cc-a4d52377752c",
      "name": "Merge3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -688,
        1136
      ],
      "id": "5602f26c-8bc2-4e32-9909-e587c347ad0d",
      "name": "Merge4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -464,
        176
      ],
      "id": "a0cafa7c-2951-4a72-97e1-5dd29714fcd3",
      "name": "Merge5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -464,
        944
      ],
      "id": "7796dff6-06b0-48ef-83d8-8910e22a032a",
      "name": "Merge6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -240,
        560
      ],
      "id": "a5b2ab23-1951-4ade-922a-eac23713b806",
      "name": "Merge7"
    },
    {
      "parameters": {},
      "id": "7586f280-b561-40cd-9224-615dd9e61484",
      "name": "Merge ALL",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        -16,
        656
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract Topics1 — compatible with your n8n\n// Works whether upstream is OpenAI node or HTTP Request to OpenAI.\n\nconst inItems = Array.isArray(items) ? items : [];\nconst first = (inItems[0] && inItems[0].json) ? inItems[0].json : {};\n\n// Pull model text from common shapes\nlet raw =\n  first?.choices?.[0]?.message?.content ??\n  first?.data?.[0]?.message?.content ??\n  first?.message?.content ??\n  first?.content;\n\n// Guard if missing\nif (typeof raw !== 'string') {\n  return [{\n    json: {\n      error: 'no_model_text',\n      sawKeys: first ? Object.keys(first) : null\n    }\n  }];\n}\n\n// Try to parse JSON; if not, slice out the outermost {...}\nconst tryParse = (s) => { try { return JSON.parse(s); } catch { return null; } };\n\nlet obj = tryParse(raw);\nif (!obj) {\n  const start = raw.indexOf('{');\n  const end   = raw.lastIndexOf('}');\n  if (start !== -1 && end > start) obj = tryParse(raw.slice(start, end + 1));\n}\n\n// Validate\nif (!obj || !Array.isArray(obj.items)) {\n  return [{\n    json: {\n      error: 'bad_json_from_model',\n      preview: raw.slice(0, 400)\n    }\n  }];\n}\n\n// Emit one item per topic\nconst out = obj.items\n  .filter(t => t && t.topic)\n  .map((t, idx) => ({\n    json: {\n      idx,\n      topic: String(t.topic || '').trim(),\n      rationale: String(t.rationale || '').trim(),\n      key_points: Array.isArray(t.key_points) ? t.key_points.map(String) : [],\n      _raw: t\n    }\n  }));\n\nif (!out.length) {\n  return [{\n    json: {\n      error: 'no_topics_after_normalize',\n      preview: raw.slice(0, 400)\n    }\n  }];\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        656
      ],
      "id": "e97c3ff8-c112-4eae-b13a-8999b2d5a1d5",
      "name": "Extract Topics1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "\\1__CLOUDINARY_CLOUD_NAME__\\2",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "upload_preset",
              "value": "__CLOUDINARY_UPLOAD_PRESET__"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "image"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2448,
        736
      ],
      "id": "55a1a725-2b93-4ed7-a52f-dd62ba706f9a",
      "name": "UploadImage (new)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ddc0ff15-8ef7-49fc-92bb-cb1f7917fd0f",
              "name": "image_url",
              "value": "={{$json.secure_url}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2608,
        736
      ],
      "id": "a638c568-3507-4c4a-aa9c-d041f4208506",
      "name": "Set Image URL"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3040,
        640
      ],
      "id": "170fd586-c66c-49d3-8d80-1e6077d42e98",
      "name": "Merge-Approve"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 4,
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1136,
        656
      ],
      "id": "46675e17-4f2e-4d7a-b366-ff7e93bf79e8",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba7b47fb-bd0e-4bdc-977f-7b77c8a5a766",
              "name": "continue",
              "value": "true",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2912,
        960
      ],
      "id": "70b3df01-1a61-4d17-9e51-9bb681994a98",
      "name": "Loop control (reject)"
    }
  ],
  "pinData": {},
  "connections": {
    "Caption Style Selector": {
      "main": [
        [
          {
            "node": "Generate Caption1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for GPT1": {
      "main": [
        [
          {
            "node": "Fetch LinkedIn Topics1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Topics1": {
      "main": [
        [
          {
            "node": "Caption Style Selector",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enhanced image prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Caption1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Sent to make webhook1": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Preview Pack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop control1": {
      "main": [
        [
          {
            "node": "Split Topics1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "Loop control1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate image google": {
      "main": [
        [
          {
            "node": "decode64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhanced image prompt": {
      "main": [
        [
          {
            "node": "Generate image google",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "decode64": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preview Pack": {
      "main": [
        [
          {
            "node": "Add Resume URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Decision": {
      "main": [
        [
          {
            "node": "Check Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Wait for Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Decision": {
      "main": [
        [
          {
            "node": "Merge-Approve",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop control (reject)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Resume URL": {
      "main": [
        [
          {
            "node": "PassImageToGmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch LinkedIn Topics1": {
      "main": [
        [
          {
            "node": "Extract Topics1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PassImageToGmail": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "UploadImage (new)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PB – Extract result.json URL": {
      "main": [
        [
          {
            "node": "PB – Fetch result.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PB Fetch Output": {
      "main": [
        [
          {
            "node": "PB – Extract result.json URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PB – Fetch result.json": {
      "main": [
        [
          {
            "node": "PB – Normalize to RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PB – Normalize to RSS": {
      "main": [
        [
          {
            "node": "Merge ALL",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RSS Read2": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read3": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RSS Read4": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read5": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RSS Read6": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read7": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge6": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge7": {
      "main": [
        [
          {
            "node": "Merge ALL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge ALL": {
      "main": [
        [
          {
            "node": "Format for GPT1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Topics1": {
      "main": [
        [
          {
            "node": "Split Topics1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UploadImage (new)": {
      "main": [
        [
          {
            "node": "Set Image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Image URL": {
      "main": [
        [
          {
            "node": "Merge-Approve",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge-Approve": {
      "main": [
        [
          {
            "node": "Sent to make webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read2",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read3",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read4",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read5",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read6",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read7",
            "type": "main",
            "index": 0
          },
          {
            "node": "PB Fetch Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop control (reject)": {
      "main": [
        [
          {
            "node": "Split Topics1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "23e52073-70a3-4b73-a844-ed12022f3a9e",
  "meta": {
    "instanceId": "3f873acb7dd3fd2a274537fad9fa4d398c721135605a1408980277aa85bfd3f5"
  },
  "id": "aVPecNVSJ4LbIHQZ",
  "tags": []
}